{
  "extends": ["stylelint-config-recommended", "stylelint-config-standard"],
  "rules": {
    "string-quotes": "double",
    "block-no-empty": null,
    "comment-empty-line-before": [
      "always",
      {
        "ignore": ["stylelint-commands", "after-comment"]
      }
    ],
    "max-empty-lines": 2,
    "unit-allowed-list": ["em", "rem", "%", "s"]
  }
}
